In [1]:
import pandas as pd
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
543,tt0209475,35000000,94728529,The Wedding Planner,Jennifer Lopez|Matthew McConaughey|Justin Cham...,Adam Shankman,His big day is her big problem.,"Mary Fiore, San Francisco's premiere wedding p...",103,Comedy,Columbia Pictures Corporation|Intermedia Films...,1/26/2001,5.4,2001
392,tt0963966,150000000,215283742,The Sorcerer's Apprentice,Nicolas Cage|Jay Baruchel|Monica Bellucci|Alfr...,Jon Turteltaub,It's The Coolest Job Ever.,Balthazar Blake is a master sorcerer in modern...,109,Fantasy|Adventure|Action|Comedy|Drama,Walt Disney Pictures|Jerry Bruckheimer Films|S...,7/13/2010,5.8,2010
287,tt0892782,175000000,381509870,Monsters vs Aliens,Seth Rogen|Reese Witherspoon|Hugh Laurie|Paul ...,Rob Letterman|Conrad Vernon,"When aliens attack, monsters fight back.",When Susan Murphy is unwittingly clobbered by ...,94,Animation|Family|Adventure|Science Fiction,DreamWorks Animation,3/19/2009,6.0,2009
1036,tt1195478,30000000,53909751,The Five-Year Engagement,Emily Blunt|Alison Brie|Jason Segel|Rhys Ifans...,Nicholas Stoller,A comedy about the journey between popping the...,"Exactly one year after Tom meets Violet, he su...",124,Comedy,Universal Pictures|Dentsu|Relativity Media|Apa...,4/27/2012,5.6,2012
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013

# Предобработка

In [3]:
def boom(df, column):
    '''
    Функция, принимающая data frame с указанием колонки и изменяющая указанный датафрейм с помощью метода explode
    :param s: data frame
    :param column: column
    :return: data frame
    
    '''
    df[column] = df[column].apply(lambda x: x.split('|'))
    df = df.explode(column)
    return df


def month(s) -> int:
    """
    Функция, вычленяющая номер месяца из строки
    :param s: string
    :return: int
    """
    return s[:s.find('/')]


# создадаю словарь для ответов
answers = {}

#добавляю дополнительный столбец для определения прибыльности фильма
data['profit']=data.apply(lambda x: x['revenue']-x['budget'], axis=1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [4]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+

In [5]:
data.pivot_table(values='budget', index = ['original_title']).sort_values(['budget'], ascending=False).head(1)

                                                  budget
original_title
Pirates of the Caribbean: On Stranger Tides  380000000.0

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
answers['2'] = '2. Gods and Generals (tt0279111)' #+

In [7]:
data[['imdb_id','original_title', 'runtime']].sort_values(['runtime'], ascending=False).head(1)

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' #+

In [9]:
data[['imdb_id','original_title', 'runtime']].sort_values(['runtime']).head(1)

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = '2. 110' #+

In [11]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '1. 107' #+

In [13]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
answers['6'] = '5. Avatar (tt0499549)' #+

In [15]:
data[['imdb_id','original_title', 'profit']].sort_values(['profit'],ascending=False).head(1)

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [16]:
answers['7'] = '5. The Lone Ranger (tt1210819)' #+

In [17]:
data[['imdb_id','original_title', 'profit']].sort_values(['profit']).head(1)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = '1. 1478' #+

In [19]:
data[data['profit']>0]['imdb_id'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = '4. The Dark Knight (tt0468569)' #+

In [20]:
data[data['release_year'] == 2008][['imdb_id','original_title','revenue']].sort_values('revenue',ascending=False).head(1)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [30]:
answers['10'] = '5. The Lone Ranger (tt1210819)' #+

In [23]:
data.query('release_year in [2012,2013,2014]')[
    ['imdb_id','original_title', 'release_year','profit']].sort_values('profit').head(1)

        imdb_id   original_title  release_year     profit
1245  tt1210819  The Lone Ranger          2013 -165710090

# 11. Какого жанра фильмов больше всего?

In [24]:
answers['11'] = '3. Drama' #+

In [29]:
#Здесь и далее буду использовать "временные" локальные датафреймы для того, чтобы не вносить изменения в основной data
temp11 = data.copy()
temp11 = boom(temp11, 'genres')
temp11['genres'].value_counts().head(1)

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [26]:
answers['12'] = '1. Drama' #+

In [27]:
temp12 = data.copy()
temp12 = boom(temp12, 'genres')
temp12[temp12['profit'] > 0 ]['genres'].value_counts().head(1)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
answers['13'] = '5. Peter Jackson верно' #+

In [32]:
temp13 = data.copy()
temp13 = boom(temp13,'director')
temp13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = '3. Robert Rodriguez' #+

In [35]:
temp14 = data.copy()
temp14 = boom(temp14,'director')
temp14 = boom(temp14, 'genres')
temp14[temp14['genres']=='Action'].groupby(['director'])['genres'].count().sort_values(ascending=False).head(1)

director
Robert Rodriguez    9
Name: genres, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
answers['15'] = '3. Chris Hemsworth' #+

In [37]:
temp15 = data.copy()
temp15 = boom(temp15,'cast')
temp15[temp15['release_year'] == 2012].groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
answers['16'] = '3. Matt Damon' #+

In [39]:
temp16 = data.copy()
temp16 = boom(temp16,'cast')
temp16[temp16['budget']>temp16['budget'].mean()]['cast'].value_counts().head(1)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
answers['17'] = '2. Action' #+

In [41]:
temp17 = data.copy()
temp17 = boom(temp17, 'genres')
temp17[temp17.cast.str.contains('Nicolas Cage')]['genres'].value_counts().head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+

In [43]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
answers['19'] = '5. 2015' #+

In [45]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
answers['20'] = '1. 2014' #+

In [48]:
temp20 = data[data.production_companies.str.contains('Warner Bros')]
temp20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21'] = '4. Сентябрь' #+

In [50]:
temp21 = data.copy()
temp21['release_date'] = temp21['release_date'].apply(month)
temp21['release_date'].value_counts(ascending=False).index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
answers['22'] = '2. 450' #+

In [52]:
temp22 = data.copy()
temp22['release_date'] = temp22['release_date'].apply(month)
temp22 = temp22['release_date'].value_counts(ascending=False)
result = 0
for i in range (6, 9):
    result += temp22.loc[str(i)]
print(result)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
answers['23'] = '5. Peter Jackson' #+

In [54]:
temp23 = data.copy()
temp23 = boom(temp23,'director')
temp23['release_date'] = temp23['release_date'].apply(month)
temp23 = temp23[temp23['release_date'].isin(['1','2','12'])]
temp23.groupby(['director'])['original_title'].count().sort_values(ascending=False).head(1)

director
Peter Jackson    7
Name: original_title, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
answers['24'] = '5. Four By Two Productions' #+

In [56]:
temp24 = data.copy()
temp24 = boom(temp24, 'production_companies')
temp24['original_title'] = temp24['original_title'].apply(lambda x: len(x))
temp24.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: original_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
answers['25'] = '3. Midnight Picture Show' #+

In [58]:
temp25 = data.copy()
temp25 = boom(temp25, 'production_companies')
temp25['overview'] = temp25['overview'].apply(lambda x: len(x))
temp25.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    1000.0
Name: overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #+

In [60]:
#Без использования ответов в коде - ручой визуальный поиск вхождения вариантов в таблицу ниже
data[data['vote_average']>data['vote_average'].quantile(0.99)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' #+

In [61]:
temp27 = data.copy()
temp27['cast'] = temp27['cast'].apply(lambda x: sorted(x.split('|')))
temp27['cast'] = temp27['cast'].apply(lambda x: list(itertools.combinations(x, 2)))
temp27 = temp27.explode('cast')
temp27.groupby(['cast'])['imdb_id'].count().sort_values(ascending=False)

cast
(Daniel Radcliffe, Rupert Grint)       8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)        8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Jane Fonda, Jennifer Lopez)           1
(Jane Alexander, Ty Burrell)           1
(Jane Alexander, Robert Downey Jr.)    1
(Jane Alexander, Nicole Kidman)        1
(50 Cent, Adewale Akinnuoye-Agbaje)    1
Name: imdb_id, Length: 17943, dtype: int64

# Submission

In [63]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson верно',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [64]:
len(answers)

27